body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  font-style: normal;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden; }

.container {
  padding-left: 20px;
  padding-right: 20px; }

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 708px;
    padding-left: 30px;
    padding-right: 30px; } }

@media (min-width: 1300px) {
  .container {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px; } }

.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  color: #fff;
  border: 0; }
  .btn:hover, .btn:focus {
    background-color: #5eaa2f; }
  .btn:active {
    background-color: #5eaa2f;
    color: #99c684; }

.pages-header {
  margin-bottom: 25px;
  border-bottom: 1px solid  #e6e6e6; }

.pages-header__logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px; }

.pages-header__logo-link {
  display: block;
  cursor: pointer; }

.pages-header__logo {
  display: block;
  padding-top: 11px; }

.pages-header__logo-plus {
  display: block;
  margin-left: 12px;
  margin-top: 24px; }

.pages-header__togle {
  position: relative;
  padding: 32px;
  margin: 0;
  margin-right: -20px;
  width: 0;
  height: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent; }

.pages-header__togle::after,
.pages-header__togle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: #111;
  -webkit-box-shadow: 0 -8px #111, 0 8px #111;
          box-shadow: 0 -8px #111, 0 8px #111;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.pages-header__togle--opened::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none; }

.pages-header__togle--opened::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-box-shadow: none;
          box-shadow: none; }

@media (min-width: 768px) {
  .pages-header {
    border: none; }
    .pages-header--index {
      margin-bottom: 535px; }
  .pages-header__logo-block {
    height: auto; }
  .pages-header__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .pages-header__logo-link {
    margin-top: 24px; }
  .pages-header__logo {
    padding: 0;
    width: 173px;
    height: 58px; }
  .pages-header__logo-plus {
    display: none; }
  .pages-header__togle {
    display: none; } }

@media (min-width: 1300px) {
  .pages-header {
    margin-bottom: 75px; }
    .pages-header--index {
      margin-bottom: 80px;
      min-height: 696px;
      background-color: #68b738;
      background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, transparent)), url("../img/raster/index-background-desktop@1x.jpg");
      background-image: linear-gradient(to right, #fff 50%, transparent 50%), url("../img/raster/index-background-desktop@1x.jpg");
      background-position: right center;
      background-repeat: no-repeat; } }

@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .pages-header--index {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, transparent)), url("../img/raster/index-background-desktop@2x.jpg");
    background-image: linear-gradient(to right, #fff 50%, transparent 50%), url("../img/raster/index-background-desktop@2x.jpg");
    background-size: contain; } }

@media (min-width: 1300px) {
  .pages-header__logo-link {
    margin-top: 55px; }
  .pages-header__logo {
    width: 202px;
    height: 59px; } }

.main-nav {
  display: none; }
  .main-nav--no-js {
    display: block; }
  .main-nav--open {
    display: block; }

.main-nav--open {
  display: block; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__item {
  margin-left: -20px;
  margin-right: -20px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #e6e6e6; }

.main-nav__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  color: #111;
  cursor: pointer; }
  .main-nav__link:hover, .main-nav__link:focus {
    opacity: 0.6; }
  .main-nav__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .main-nav {
    display: block; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 19px; }
  .main-nav__item {
    margin: 0;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border: none; }
  .main-nav__link {
    margin-top: 23px;
    padding: 0; }
    .main-nav__link--one {
      border: none; }
    .main-nav__link--active {
      padding-bottom: 8px;
      border-bottom: 2px solid #68b738; } }

@media (min-width: 1300px) {
  .main-nav__item {
    font-size: 20px; }
  .main-nav__link {
    margin-top: 53px; }
    .main-nav__link--index {
      color: #fff; }
    .main-nav__link--active-index {
      border-bottom: 2px solid #fff; } }

.action {
  position: relative;
  background-color: #68b738;
  background-image: linear-gradient(to top, #fff 175px, transparent 175px), url("../img/raster/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .action {
    background-image: linear-gradient(to top, #fff 175px, transparent 175px), url("../img/raster/index-background-mobile@2x.jpg"); } }

.action__block {
  text-align: center; }

.action__title {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  padding-bottom: 25px;
  max-width: 260px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #fff; }

.action__text {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  font-family: "Oswald", sans-serif;
  line-height: 14px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff; }

.action__img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.action__link {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%; }

@media (min-width: 768px) {
  .action {
    background: none; }
  .action__block {
    margin: 0;
    padding: 0;
    margin-left: 85px;
    text-align: left; }
  .action__title {
    margin: 0;
    padding-top: 58px;
    padding-bottom: 36px;
    max-width: 450px;
    font-size: 60px;
    line-height: 60px;
    color: #111; }
  .action__text {
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
    color: #111; }
  .action__img {
    position: absolute;
    width: 709px;
    height: 609px;
    left: 30px;
    top: 260px; }
  .action__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 27px;
    padding-left: 27px;
    font-size: 20px;
    line-height: 20px; } }

@media (min-width: 1300px) {
  .action__block {
    margin-left: 80px; }
  .action__title {
    padding-top: 110px; }
  .action__img {
    width: 552px;
    height: 499px;
    left: 490px;
    top: 30px; }
  .action__text {
    padding-bottom: 45px; } }

.programs {
  margin-bottom: 30px; }

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.programs__item {
  position: relative;
  margin-bottom: 18px;
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2; }
  .programs__item::after {
    content: "";
    display: block;
    position: absolute;
    top: 26px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738; }
  .programs__item--icon-slim::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../img/vector/icon-cat-slim.svg");
    z-index: 1; }
  .programs__item--icon-pro::before {
    content: "";
    position: absolute;
    top: 37px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../img/vector/icon-cat-pro.svg");
    z-index: 1; }

.programs__title {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  margin-left: 70px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
  color: #111; }

.programs__text {
  margin: 0;
  padding: 0;
  margin-bottom: 23px; }

.programs__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 17px;
  padding-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9; }
  .programs__link::after {
    content: "";
    margin-top: 5px;
    margin-left: 11px;
    width: 23px;
    height: 11px;
    background-image: url("../img/vector/icon-right.svg");
    background-repeat: no-repeat;
    background-size: 32px 11px;
    background-position: right center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .programs__link:hover::after, .programs__link:focus::after {
    width: 30px; }
  .programs__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .programs {
    margin-bottom: 43px; }
  .programs__item {
    margin-bottom: 28px;
    padding-bottom: 65px;
    padding-top: 75px;
    padding-left: 52px; }
    .programs__item::after {
      top: 90px;
      left: 445px;
      width: 200px;
      height: 200px; }
    .programs__item--icon-slim::before {
      top: 80px;
      left: 475px;
      width: 140px;
      height: 194px; }
    .programs__item--icon-pro::before {
      top: 135px;
      left: 410px;
      width: 268px;
      height: 112px; }
  .programs__title {
    margin-left: 0;
    font-size: 36px;
    line-height: 36px; }
  .programs__text {
    margin-bottom: 55px;
    max-width: 380px;
    font-size: 16px;
    line-height: 24px; }
    .programs__text--small {
      max-width: 340px; }
  .programs__link {
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 20px;
    border: none; }
    .programs__link::after {
      margin-left: 23px; }
    .programs__link--icon-slim::before {
      top: 80px;
      left: 475px;
      width: 140px;
      height: 194px; }
    .programs__link--icon-pro::before {
      top: 135px;
      left: 410px;
      width: 268px;
      height: 112px; } }

@media (min-width: 1300px) {
  .programs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .programs__item {
    padding: 0;
    width: 570px; }
    .programs__item::after {
      top: 47px;
      left: 50px;
      width: 100px;
      height: 100px; }
    .programs__item--icon-slim::before {
      top: 40px;
      left: 65px;
      width: 70px;
      height: 97px; }
    .programs__item--icon-pro::before {
      top: 70px;
      left: 35px;
      width: 134px;
      height: 56px; }
  .programs__title {
    margin-top: 78px;
    margin-bottom: 74px;
    margin-left: 215px;
    font-size: 36px;
    line-height: 36px; }
  .programs__text {
    margin-left: 52px;
    max-width: 480px;
    margin-bottom: 30px; }
  .programs__link {
    margin-left: 52px;
    margin-bottom: 65px; } }

.features {
  margin-bottom: 43px; }

.features__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #111; }

.features__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.features__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .features__item--leaf::before, .features__item--powder::before, .features__item--dining::before, .features__item--clock::before {
    content: "";
    display: block;
    min-width: 60px;
    height: 60px; }
  .features__item--leaf::before {
    background: #68b738 url("../img/raster/advantage-leaf@1x.png") no-repeat center; }
  .features__item--powder::before {
    background: #68b738 url("../img/raster/advantage-powder@1x.png") no-repeat center; }
  .features__item--dining::before {
    background: #68b738 url("../img/raster/advantage-dining@1x.png") no-repeat center; }
  .features__item--clock::before {
    background: #68b738 url("../img/raster/advantage-clock@1x.png") no-repeat center; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .features__item--leaf::before {
      background: #68b738 url("../img/raster/advantage-leaf@2x.png") no-repeat center;
      background-size: 50px; }
    .features__item--powder::before {
      background: #68b738 url("../img/raster/advantage-powder@2x.png") no-repeat center;
      background-size: 50px; }
    .features__item--dining::before {
      background: #68b738 url("../img/raster/advantage-dining@2x.png") no-repeat center;
      background-size: 50px; }
    .features__item--clock::before {
      background: #68b738 url("../img/raster/advantage-clock@2x.png") no-repeat center;
      background-size: 50px; } }

.features__text {
  margin: 0;
  padding: 0;
  margin-left: 20px; }

@media (min-width: 768px) {
  .features {
    padding-bottom: 80px;
    border-bottom: 1px solid #e6e6e6; }
  .features__list {
    margin-right: 73px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .features__title {
    margin-bottom: 73px;
    font-size: 60px;
    line-height: 60px; }
  .features__item {
    display: block;
    position: relative; }
    .features__item:nth-child(1), .features__item:nth-child(2) {
      margin-bottom: 130px; }
    .features__item--leaf::before, .features__item--powder::before, .features__item--dining::before, .features__item--clock::before {
      max-width: 80px;
      height: 80px; }
    .features__item--leaf::after, .features__item--powder::after, .features__item--dining::after, .features__item--clock::after {
      display: block;
      position: absolute;
      top: -15px;
      left: 115px;
      font-size: 281px;
      line-height: 235px;
      font-family: "Oswald", sans-serif;
      color: #f2f2f2;
      z-index: -1; }
    .features__item--leaf::after {
      content: "1"; }
    .features__item--powder::after {
      content: "2"; }
    .features__item--dining::after {
      content: "3"; }
    .features__item--clock::after {
      content: "4"; }
  .features__text {
    width: 250px;
    margin-left: 0;
    margin-top: 33px;
    font-size: 16px;
    line-height: 24px; } }

@media (min-width: 1300px) {
  .features {
    border: none;
    margin-bottom: 23px; }
  .features__list {
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .features__item:nth-child(1), .features__item:nth-child(2) {
    margin-bottom: 0px; } }

.example {
  padding-top: 1px;
  background-color: #f2f2f2; }

.example__title {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 36px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #111; }

.example__text {
  margin: 0;
  padding: 0;
  padding-right: 5px;
  margin-bottom: 23px; }

.example__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.example__wraper-min {
  width: calc(50% - 16px);
  margin-bottom: 12px; }

.example__b {
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 4px; }

.example__span {
  width: 50%;
  margin: 0 auto;
  display: block;
  text-align: center;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  line-height: 12px;
  background-color: #f2f2f2; }

.example__price {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif; }

@media (min-width: 768px) {
  .example {
    background-color: #fff; }
  .example__title {
    padding-top: 0;
    padding-bottom: 65px;
    font-size: 60px;
    line-height: 60px; }
  .example__text {
    padding: 0;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 24px; }
  .example__wraper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 50px; }
  .example__b {
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 36px; }
  .example__span {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: #fff; }
  .example__wraper-min {
    width: 160px;
    margin-right: 44px; }
  .example__price {
    margin-top: 7px;
    margin-left: 118px;
    width: 180px;
    text-align: right;
    font-size: 20px;
    line-height: 28px; } }

@media (min-width: 1300px) {
  .example {
    background-image: linear-gradient(#fff 0, #fff 136px, #f2f2f2 136px, #f2f2f2 100%); }
  .example__layout {
    width: 460px; }
  .example__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .example__title {
    padding-bottom: 147px; }
  .example__text {
    padding-bottom: 43px; }
  .example__span {
    background-color: #f2f2f2;
    padding-bottom: 24px; }
  .example__price {
    margin-left: 0;
    width: 320px; }
  .example__price--number {
    padding-left: 50px; } }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 34px; }
  @media (min-width: 768px) {
    .slider {
      margin: 0 20;
      background-image: linear-gradient(#fff 0, #fff 180px, #f2f2f2 180px, #f2f2f2 100%);
      overflow: visible; } }
  @media (min-width: 1300px) {
    .slider {
      padding-bottom: 35px;
      margin: 0;
      margin-top: -65px;
      margin-right: 90px;
      background-image: linear-gradient(#fff 0, #fff 200px, #f2f2f2 200px, #f2f2f2 100%);
      overflow: visible; } }

.slider__images {
  position: relative;
  margin: 0 20;
  width: 320px;
  height: 240px; }
  @media (min-width: 768px) {
    .slider__images {
      margin: 10px 0 0;
      width: 680px;
      height: 517px; } }
  @media (min-width: 1300px) {
    .slider__images {
      width: 650px; } }

.slider__image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out; }
  .slider__image--after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 0;
    right: 0; }
  @media (min-width: 768px) {
    .slider__image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 50%; }
      .slider__image--after {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-shadow: 400px 570px 0 400px #eaeaea, -1050px 570px 0 400px #f2f2f2;
                box-shadow: 400px 570px 0 400px #eaeaea, -1050px 570px 0 400px #f2f2f2;
        background-image: linear-gradient(#fff 0, #fff 170px, #eaeaea 170px, #eaeaea 100%); }
        .slider__image--after img {
          z-index: 0; } }
  @media (min-width: 1300px) {
    .slider__image--before {
      width: 750px;
      left: -40px;
      padding-right: 40px; }
    .slider__image--after {
      -webkit-box-shadow: 400px 590px 0 400px #eaeaea;
              box-shadow: 400px 590px 0 400px #eaeaea;
      background-image: linear-gradient(#fff 0, #fff 190px, #eaeaea 190px, #eaeaea 100%); } }
  .slider__image img {
    max-width: inherit; }
    @media (min-width: 768px) {
      .slider__image img {
        width: 680px;
        height: 517px; } }
    @media (min-width: 1300px) {
      .slider__image img {
        width: 690px; } }

.slider__before:checked ~ .slider__images .slider__image--before,
.slider__after:checked ~ .slider__images .slider__image--after {
  width: 100%; }

.slider__before:checked ~ .slider__images .slider__image--after,
.slider__after:checked ~ .slider__images .slider__image--before {
  width: 0; }

.slider__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  padding: 2px;
  z-index: 1; }
  @media (min-width: 768px) {
    .slider__actions {
      margin-top: 15px;
      margin-bottom: 30px; } }
  @media (min-width: 1300px) {
    .slider__actions {
      margin-top: 33px; } }

.slider__btn {
  margin: 0 20px;
  line-height: 1.25;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #111;
  cursor: pointer; }
  @media (min-width: 768px) {
    .slider__btn {
      padding: 6px 0;
      font-size: 20px;
      line-height: 1;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.3); }
      .slider__btn:hover, .slider__btn:focus {
        border-bottom-style: solid; }
      .slider__btn:active {
        border-bottom: 0;
        opacity: 0.3; } }

.slider__scale {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 6px;
  width: 85px;
  height: 14px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .slider__scale {
      padding: 4px 0;
      width: 428px;
      height: 6px;
      background-color: #cdcdcd;
      border-color: #cdcdcd; } }

.slider__grip {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  cursor: pointer;
  -webkit-transition: margin-left 0.35s ease-out;
  transition: margin-left 0.35s ease-out; }
  @media (min-width: 768px) {
    .slider__grip {
      margin-left: calc(50% - 17px);
      width: 34px;
      height: 34px;
      background-image: radial-gradient(#68b738 0, #68b738 4px, #fff 5px, #fff 100%);
      border: 1px solid #cdcdcd;
      border-radius: 50%;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .slider__grip:hover {
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25); }
      .slider__grip:active {
        border: 2px solid #68b738;
        -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
                box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); } }

.slider__before:checked ~ .slider__actions .slider__grip {
  margin-left: 0; }

.slider__after:checked ~ .slider__actions .slider__grip {
  margin-left: calc(100% - 34px); }

.page-footer {
  position: relative;
  background-color: #fff; }
  .page-footer--catalog {
    background-color: #f2f2f2; }

.contacts__block {
  padding-top: 30px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contacts__title {
  margin: 0;
  padding: 0;
  display: block;
  width: 50%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111;
  text-transform: uppercase; }

.contacts__text {
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  line-height: 20px; }

.contacts__map {
  min-width: 100%;
  height: 365px; }

.contacts__footer-block {
  background-color: #f2f2f2; }

.contacts__icon {
  display: block;
  margin: 0;
  padding-top: 38px;
  padding-bottom: 27px;
  border-bottom: 2px solid #eaeaea;
  text-align: center; }

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 23px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid  #eaeaea; }

.contacts__item {
  margin-left: 15px;
  margin-right: 15px; }

.contacts__social {
  margin-right: 10px;
  display: block;
  text-align: center; }
  .contacts__social--vk, .contacts__social--insta, .contacts__social--fb {
    fill: #444; }
  .contacts__social--vk:hover, .contacts__social--vk:focus, .contacts__social--insta:hover, .contacts__social--insta:focus, .contacts__social--fb:hover, .contacts__social--fb:focus {
    fill: #68b738; }
  .contacts__social--vk:active, .contacts__social--insta:active, .contacts__social--fb:active {
    opacity: 0.3; }

.contacts__link {
  padding-bottom: 15px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contacts__svg-dev {
  fill: #666; }
  .contacts__svg-dev:hover, .contacts__svg-dev:focus {
    fill: #68b738; }
  .contacts__svg-dev:active {
    opacity: 0.3; }

.contacts__dev-title {
  font-size: 16px;
  line-height: 16px;
  color: #666; }

@media (min-width: 768px) {
  .contacts__block {
    padding-top: 63px;
    padding-bottom: 55px; }
  .contacts__title {
    margin-left: 40px;
    font-size: 20px;
    line-height: 25px;
    width: 170px; }
  .contacts__text {
    font-size: 16px;
    margin-right: 40px;
    width: 160px;
    text-align: right; }
    .contacts__text--city {
      display: block;
      margin-top: 20px; }
  .contacts__map {
    height: 400px; }
  .contacts__footer-wrapper {
    padding-top: 58px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contacts__icon {
    margin: 0;
    padding: 0;
    border: none; }
  .contacts__list {
    margin: 0;
    padding: 0;
    margin-left: 32px;
    border: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contacts__item {
    margin-left: 10px;
    margin-right: 10px; }
  .contacts__social--vk {
    width: 30px;
    height: 16px; }
  .contacts__social--insta {
    width: 23px;
    height: 23px; }
  .contacts__social--fb {
    width: 14px;
    height: 28px; }
  .contacts__link {
    margin: 0;
    padding: 0;
    margin-top: -10px; }
  .contacts__dev-title {
    margin-right: 25px; } }

@media (min-width: 1300px) {
  .contacts__block {
    position: absolute;
    z-index: 1;
    top: 83px;
    width: 570px;
    background-color: #fff; }
  .contacts__title {
    margin-left: 75px; }
  .contacts__text {
    margin-right: 83px;
    text-align: left; } }

.title-block {
  padding-bottom: 42px;
  border-bottom: 1px solid  #e6e6e6; }

.title-block__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #111; }

@media (min-width: 768px) {
  .title-block {
    margin-top: 58px;
    margin-bottom: 45px;
    border-bottom: none; }
  .title-block__title {
    font-size: 60px;
    line-height: 60px; } }

@media (min-width: 1300px) {
  .title-block {
    margin-top: 0; } }

.product {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5; }
  .product--more {
    padding-top: 58px;
    position: relative; }
  .product--more::before, .product--more::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    left: 50%;
    display: block;
    height: 2px;
    background-color: #cdcdcd;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .product--more::after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg); }

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.product__info-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product__title {
  margin-top: 22px;
  margin-bottom: 11px;
  max-width: 100px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111; }
  .product__title--more {
    margin-bottom: 6px;
    max-width: 100%;
    text-align: center; }

.product__table {
  width: 100%;
  border-collapse: collapse; }

.product__text {
  padding: 0;
  font-size: 12px;
  line-height: 17px; }
  .product__text:nth-child(2) {
    text-align: right; }
  .product__text--more:nth-child(2) {
    margin-top: 0;
    margin-bottom: 26px;
    text-align: center; }

.product__btn {
  display: block;
  margin-top: -3px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px; }
  .product__btn--more {
    background-color: #f2f2f2;
    color: #444; }
  .product__btn--more:hover, .product__btn--more:focus {
    background-color: #e5e5e5; }
  .product__btn--more:active {
    color: #444;
    opacity: 0.3; }

@media (min-width: 768px) {
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .product {
    margin-bottom: 60px;
    width: 324px;
    border-bottom: none;
    background-image: linear-gradient(to bottom, #fff, #fff 78px, #f2f2f2 78px, #f2f2f2); }
    .product--more {
      padding: 0;
      background-image: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .product--more::before, .product--more::after {
      width: 60px;
      height: 60px;
      top: 165px;
      height: 2px;
      background-color: #e5e5e5; }
  .product__border-wrapper {
    margin: 0;
    padding: 0;
    border: 1px solid #e5e5e5;
    width: 100%;
    min-height: 430px; }
  .product__wrapper {
    display: block; }
  .product__image-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 208px; }
  .product__img {
    margin-left: auto;
    margin-right: auto;
    width: 324px;
    height: auto; }
  .product__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    margin-bottom: 18px;
    text-align: center;
    max-width: 150px;
    font-size: 20px; }
    .product__title--more {
      margin-top: 166px; }
  .product__table {
    margin-bottom: 36px; }
  .product__text {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 6px;
    border-bottom: 1px solid #cdcdcd; }
    .product__text--more {
      margin-left: auto;
      margin-right: auto;
      border-bottom: none;
      line-height: 20px;
      width: 170px; }
  .product__table,
  .product__btn {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 75px); }
  .product__btn {
    margin-top: 0px;
    margin-bottom: 15px; }
    .product__btn--more {
      margin-top: 78px; } }

@media (min-width: 1300px) {
  .product {
    width: 245px; } }

.line {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #68b738;
  z-index: -1; }

@media (min-width: 768px) {
  .line {
    top: 22px; } }

.other-products {
  position: relative;
  margin-bottom: 33px; }

.other-products__main-title {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  padding-bottom: 35px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #111;
  background-color: #fff; }

.other-product {
  border-bottom: 1px solid #e5e5e5; }
  .other-product--one {
    border-top: 1px solid #e5e5e5; }

.other-product__title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #111;
  text-transform: uppercase; }
  .other-product__title--margin {
    margin-top: 12px; }

.other-product__table {
  margin-bottom: 11px;
  width: 100%; }

.other-product__text {
  line-height: 14px; }
  .other-product__text:nth-child(2) {
    text-align: right; }

.other-product__btn {
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 20px; }

.other-product__image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 65px;
  display: block;
  text-align: center;
  width: 100%;
  min-height: 225px;
  background-color: #68b738;
  background-image: url("../img/raster/gift-photo-mobile@1x.jpg");
  background-size: cover; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .other-product__image {
    background-image: url("../img/raster/gift-photo-mobile@2x.jpg"); } }

.other-product__icon {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.other-product__main-text {
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 180px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-weight: 400; }

@media (min-width: 768px) {
  .other-products {
    margin-bottom: 78px; }
  .other-products__main-title {
    margin-top: 8px;
    margin-left: 0;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 80px;
    font-size: 36px;
    line-height: 36px; }
  .other-product {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5; }
  .other-product__wrapper {
    margin-left: 40px;
    margin-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .other-product__title {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 20px; }
  .other-product__table {
    margin: 0;
    width: 300px; }
  .other-product__text {
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
    text-align: right; }
    .other-product__text:nth-child(2) {
      width: 85px; }
  .other-product__btn {
    margin-left: 40px;
    margin-bottom: 30px;
    width: calc(100% - 80px);
    margin-left: 40px; }
  .other-product__image {
    margin-top: 62px;
    padding: 0;
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: 0 -360px; }
  .other-product__icon {
    margin: 0; }
  .other-product__main-text {
    margin: 0;
    text-align: left; } }

@media (min-width: 1300px) {
  .other-products {
    margin-bottom: 100px; }
  .other-products__main-title {
    margin-top: 15px;
    margin-left: -35px; }
  .other-product__title {
    margin-left: 0;
    width: 180px; }
    .other-product__title--margin {
      margin-top: 23px; }
  .other-product__wrapper {
    margin-right: 0;
    margin-left: 0; }
  .other-products__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .other-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 895px;
    border-left: none;
    border-right: none; }
  .other-product__table {
    margin: 0;
    width: 290px;
    margin-left: 140px; }
  .other-product__text {
    text-align: left; }
  .other-product__btn {
    margin-top: 16px;
    margin-bottom: 17px;
    margin-left: 0;
    padding-left: 93px;
    padding-right: 93px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .other-product__image {
    margin: 0;
    width: 245px; }
  .other-product__image {
    padding-top: 65px;
    display: block;
    background-position: center; }
  .other-product__icon {
    margin-bottom: 65px;
    margin-left: auto;
    margin-right: auto; }
  .other-product__main-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center; } }

.form-main-block {
  margin-bottom: 35px; }

.form-main-block__title,
.form-main-block__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #111; }

.form-main-block__title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 36px; }

.form-main-block__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .form-main-block {
    margin-bottom: 65px; }
  .form-main-block__title {
    margin-top: 58px;
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 60px; }
  .form-main-block__text {
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px; } }

@media (min-width: 1300px) {
  .form-main-block {
    margin-bottom: 62px; }
  .form-main-block__text {
    margin-left: 0; } }

.form__questionnaire {
  margin-bottom: 27px; }

.form__main {
  margin-bottom: 22px; }

.form__contact {
  position: relative;
  margin-bottom: 26px; }

.form__textarea {
  margin-bottom: 25px;
  position: relative; }

.form__add {
  margin-bottom: 40px;
  position: relative; }

.form__btn-block {
  margin-bottom: 30px; }

.form__block {
  margin-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form__block--icon {
    position: relative; }

.form__label,
.form__input,
.form__ratio-label,
.form__checkbox-label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222; }

.form__label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
  max-width: 50%; }

.form__input {
  padding-left: 15px;
  height: 43px;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(205, 205, 205, 0.5); }
  .form__input:hover {
    border-color: #cdcdcd; }
  .form__input:focus {
    -webkit-box-shadow: inset 0 0 0 1px #212735;
            box-shadow: inset 0 0 0 1px #212735;
    outline: 0; }
  .form__input--textarea {
    padding-top: 13px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 150px; }

.form__icon {
  position: absolute;
  top: 50%;
  right: 14px;
  fill: #222;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.form__input:focus ~ .form__icon {
  fill: #68b738; }

.form__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .form__list--ratio {
    padding-top: 27px;
    padding-bottom: 4px;
    border-top: 1px solid rgba(205, 205, 205, 0.5);
    border-bottom: 1px solid rgba(205, 205, 205, 0.5); }

.form__item {
  margin-bottom: 22px; }

.form__ratio-input,
.form__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.form__ratio-label,
.form__checkbox-label {
  padding-left: 45px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative; }
  .form__ratio-label:active,
  .form__checkbox-label:active {
    opacity: 0.3; }

.form__ratio-label::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 10px;
  padding: 8px;
  border: 1px solid #cdcdcd;
  border-radius: 50%; }

.form__checkbox-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd; }

.form__ratio-input:checked ~ .form__ratio-label::before {
  background-color: #68b738;
  background-clip: content-box; }

.form__checkbox-input:checked ~ .form__checkbox-label::before {
  background: url("../img/vector/icon-tick.svg") no-repeat center;
  background-size: 21px; }

.form__title {
  margin-left: -20px;
  padding-left: 20px;
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #111;
  background-color: #fff; }
  .form__title--contact {
    margin-bottom: 32px;
    width: 200px; }
  .form__title--comment {
    margin-bottom: 35px;
    width: 140px; }
  .form__title--add {
    margin-bottom: 40px;
    width: 160px; }

.form__btn {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
  width: 100%; }

.form__text {
  margin: 0;
  text-align: center; }

@media (min-width: 768px) {
  .form__questionnaire {
    margin-bottom: 72px; }
  .form__label,
  .form__input,
  .form__ratio-label,
  .form__checkbox-label {
    font-size: 20px; }
  .form__input {
    padding-left: 20px;
    height: 52px; }
    .form__input--textarea {
      max-width: 628px;
      margin-left: 40px;
      margin-bottom: 33px;
      min-height: 170px; }
  .form__main {
    margin-bottom: 70px; }
  .form__block {
    margin-bottom: 16px;
    margin-left: 40px;
    margin-right: 40px; }
  .form__list--ratio {
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 28px;
    padding-top: 35px;
    border: 1px solid rgba(205, 205, 205, 0.5); }
  .form__list--checkbox {
    margin-left: 40px;
    margin-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .form__item {
    margin-bottom: 30px;
    width: 300px; }
    .form__item--checkbox {
      margin-bottom: 50px; }
  .form__ratio-label::before {
    width: 15px;
    height: 15px;
    padding: 10px; }
  .form__ratio-label,
  .form__checkbox-label {
    padding-left: 60px; }
  .form__title {
    margin-left: 0;
    padding-left: 40px;
    font-size: 36px;
    line-height: 36px; }
    .form__title--contact {
      width: 550px;
      margin-bottom: 75px; }
    .form__title--comment {
      width: 220px;
      margin-bottom: 78px; }
    .form__title--add {
      width: 250px;
      margin-bottom: 68px; }
  .form__contact {
    margin-bottom: 63px; }
  .form__checkbox-label::before {
    width: 40px;
    height: 40px; }
  .form__btn-wrapper {
    margin-left: 40px;
    margin-bottom: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .form__btn {
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 65px;
    padding-left: 65px;
    font-size: 20px;
    line-height: 20px; }
  .form__text {
    margin-left: 60px;
    font-size: 16px;
    line-height: 16px; }
  .form__add {
    margin-bottom: 10px; } }

@media (min-width: 1300px) {
  .form__questionnaire {
    margin-bottom: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .form__block {
    margin-right: 0;
    margin-left: 0; }
  .form__main {
    margin-bottom: 0;
    width: calc(50% - 40px); }
  .form__list--ratio {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: calc(50% - 40px); }
  .form__list--checkbox {
    margin-bottom: 70px;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .form__ratio-label::before {
    left: 30px; }
  .form__ratio-label {
    padding-left: 88px; }
  .form__checkbox-label {
    padding-left: 60px; }
  .form__title {
    margin-left: -35px;
    padding-left: 35px; }
  .form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .form__block--icon {
    width: calc(50% - 40px); }
  .form__contact {
    margin-bottom: 48px; }
  .form__input--textarea {
    max-width: 100%;
    margin-left: 0px; }
  .form__item {
    margin-bottom: 32px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .form__item--checkbox {
      margin-bottom: 0px; }
    .form__item--checkbox:nth-child(2) {
      margin-left: 103px; }
    .form__item--checkbox:nth-child(3) {
      margin-left: 135px; }
    .form__item--checkbox:nth-child(4) {
      margin-left: 200px; }
  .form__btn-wrapper {
    margin-left: 0;
    margin-bottom: 80px; }
  .form__btn {
    padding-right: 208px;
    padding-left: 208px; }
  .form__text {
    margin-left: 80px; } }
