.title-block {
  padding-bottom: 42px;
  border-bottom: 1px solid  #e6e6e6;
}

.title-block__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-family: $headline-font;
  font-weight: 400;
  color: #111;
}

@media (min-width: $tablet-width) {
  .title-block {
    margin-top: 58px;
    border-bottom: none;
  }

  .title-block__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .title-block {
    margin-top: 0;
  }
}
