body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  font-style: normal;
  font-weight: 400;

}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}



